body{
    background-color: burlywood;
}
span{
    font-size: 40px;
}

li{
    font-size: 40px;
    padding-left: 680px;
    list-style-type: none;
}

.Start{
 
   display: block;
   background-color:yellowgreen;
   color:wheat;
   border: none;
   font-size: 30px;
   padding: 15px,40px;
}
.Pause{
    display: none;
    background-color:red;
   color:wheat;
   border: none;
   font-size: 30px;
}
.Clear{
    display: block;
    background-color:hotpink;
   color:wheat;
   border: none;
   font-size: 30px;
}
.Сircle{
    display: none;
    background-color:blueviolet;
   color:wheat;
   border: none;
   font-size: 30px;
}
.watch2{
    display: none;
    padding-right: 10px;
}
.ff{
    padding-right: 10px;
    display: none;
}
.spisok{
    display: flex;
    flex-direction: column-reverse;
}
.watch3{
    display: none;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 300px;
    padding-left: 720px;

}
.a{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 700px;
    padding-right: 700px;
}
.c{
    padding-left: 705px;
    font-size: 20px;
    display: none;
    justify-content: space-between;
    max-width: 310px;

}